/* ACCUEIL */

body {
    background-color: rgb(230, 217, 217);
    width: 95%;
    margin: 1% auto 0 auto;
}

header {
    height: 100px;
    width: 80%;
    background-color: rgba(179, 145, 106, 0.678);
    background-image: url(image/faune.jpg);
    font-family: 'kalam';
    margin: 0 auto 2% auto;
    display: flex;
    justify-content: center;
    color: white;
}

.section-top{
    width: 85%;
    border: 2px solid rgba(179, 145, 106, 0.678);
    margin: auto;
    border-radius: 1em;
    padding: 1%;
    background-color: white;
}

h2 {
    font-size: 1.1em;
    font-family: 'Cabin', sans-serif;
}

.fiches{
    border:solid 3px rgba(179, 145, 106, 0.678);
    background-color: white;
    border-radius: 1em;
    width: 70%;
    margin:10px auto 0 auto;
    padding-left: 2%;
}
 .fiches > button{
     margin-bottom: 2%;
     width: 20%;
}

.fiches > h2{
    text-align: center;
}


/* FORMULAIRE */


.form-top{
    display:flex;
    flex-direction: column;
}

label{
    font-size: 1.1em;
    margin-top: 1%;
    font-family: 'Cabin', sans-serif;
}

input {
    width: 50%;
}

select{
    width:20%;
}

#description{
    width: 60%;
    height: 80px;
}

button{
    width:40%;
    font-size: 1.2em;
}

button > a{
    text-decoration: none;
    color: black;
}
